@{
    Layout="~/Shared/_Layout.cshtml";
}

<div class="box">
    <h1> 欢迎使用设备管理系统网页版 </h1>
</div>
@section sidebar{
    <li><span><a href="/Index">Index</a></span></li>
    <li><span><a href="/Query/Query.cshtml">Query</a></span></li>
    <li><span><a href="/Manage/Insert.cshtml">Insert</a></span></li>
    <li><span><a href="/Shared/QRimg.cshtml">Generate QRcode</a></span></li>
}
